.load-more {
  border: none;
  padding: 7px;
  width: 110px;
  border-radius: 5px;
  background: #00b4d8;
  color: white;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-weight: 600;
  margin-bottom: 20px;
}
