body {
  background-color: #f1f1f1;
  overflow-y: scroll;
}

body p {
  margin: 0;
}

.App {
  width: 100%;
}
.App-container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.is-error {
  color: red;
  padding-bottom: 25px;
}

.loading-placeholder-text {
  text-align: center;
  margin-bottom: 30px;
}

.loading-placeholder-icon {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
