.Login-container {
  background-image: url('/background.png');
  background-size: auto;
  height: 100vh;
  overflow: hidden;
}

.Login-logo {
  color: black;
  position: relative;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background: white;
  box-shadow: 0px 5px 0px 0px rgb(228 228 228);
  margin: 0 auto;
  margin-bottom: -35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  justify-content: center;
  height: 100vh;
}
.Login-container form {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 30px;
  padding-top: 50px;
  padding-bottom: 0px;
  border-radius: 5px;
  justify-content: center;
}

.Login-title {
  text-align: right;
}

.Login-container form input {
  margin-bottom: 20px;
  padding: 5px;
  font-size: 16px;
  border: none;
  height: 25px;
  border-bottom: 1px solid #dedede;
}

.Login-container form input:focus {
  outline: none;
  border-bottom: 1px solid #9a9a9a;
}

.Login-container form input[type='submit'] {
  background-color: #4caf50;
  border: none;
  padding: 9px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 40px;
  height: 35px;
  margin-top: 30px;
}

.Login-container form input[type='button']:hover {
  background-color: #54beff;
}
