.QuestionDetails-add-answer {
  margin-top: 50px;
  border-top: 1px solid #d8d8d8;
}

#QuestionDetails-textarea {
  margin: 0px;
  width: 100%;
  height: 140px;
  resize: none;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  outline: none;
  border-color: #dcdcdc;
  padding: 10px;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  color: #545454;
}
#QuestionDetails-textarea:focus {
  border: 1px solid #a2a2a2;
}
.QuestionDetails-add-answer input[type='submit'] {
  background-color: #4caf50;
  border: none;
  margin-top: 15px;
  border-radius: 5px;
  width: 120px;
  height: 35px;
  color: white;
  margin-left: calc(100% - 120px);
  font-size: 17px;
  font-weight: 600;
}

.QuestionDetails-footer {
  font-style: italic;
  text-align: right;
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dedede;
}

.QuestionDetails-answers ul li {
  margin-bottom: 20px;
  list-style-type: none;
  border-left: 1px solid #cccccc;
  padding-left: 23px;
  word-break: break-all;
  width: 95%;
  color: gray;
}

.QuestionDetails-answers ul li::before {
  content: '\2022';
  color: red;
  font-weight: bolder;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: 30px;
}
