.Question-container {
  padding: 10px;
  border: 1px solid #e8e8e8;
  background-color: white;
  margin-bottom: 20px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.Question-header {
  border-bottom: 3px solid #00b4d8;
  padding-bottom: 12px;
  margin-top: 5px;
  font-weight: 700;
  font-size: 1.1em;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.Question-header h4 {
  margin: 0;
  cursor: pointer;
}
.Question-header h4:hover {
  color: #00b4d8;
}

.Question-favorite {
  color: red;
  font-size: 30px;
  height: 24px;
  margin-top: -8px;
  width: 20px;
  height: 18px;
}
.Question-favorite:hover {
  cursor: pointer;
}

.Question-footer {
  margin-top: 20px;
  color: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Question-details {
  display: inline-flex;
  align-items: center;
}

.Question-details .user-image {
  margin-right: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.Question-details .user-details p {
  color: black;
  font-weight: 500;
}

.Question-details .user-details i {
  color: gray;
  font-size: 12px;
}
