.QuestionDetails-answers-title {
  margin: 0px;
  width: 100%;
  border-bottom-right-radius: 15px;
  outline: none;
  border: 1px solid gray;
  margin-bottom: 5px;
  border-color: #dcdcdc;
  padding: 10px;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  color: #545454;
}
