.Navbar-container {
  background-color: #282c34;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  font-size: calc(8px + 1vmin);
  color: white;
}

.Navbar-content {
  max-width: 1024px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 50px;
}

.Navbar-content ul {
  display: inline-flex;
  list-style-type: none;
  margin-left: auto;
}

.Navbar-container ul li {
  margin-right: 20px;
  cursor: pointer;
}
.Navbar-container ul li img {
  width: 20px;
  vertical-align: bottom;
}
.Navbar-container ul li a {
  text-decoration: none;
  color: white;
  border-bottom: 2px solid transparent;
}
.Navbar-container ul li a:hover {
  color: teal;
}
.Navbar-container .active {
  border-bottom: 2px solid red;
}
.mobile-menu {
  display: none;
}
.Navbar-logo img {
  width: 85px;
  height: 30px;
}

.Navbar-search {
  width: 100%;
  flex: 1 1;
  height: 25px;
  font-size: 20px;
  margin-left: 50px;
  background-image: url(/search-icon.svg);
  background-repeat: no-repeat;
  outline: 0;
  padding: 5px;
  background-size: 22px;
  background-position: 6px 7px;
  padding-left: 35px;
}

@media only screen and (max-width: 630px) {
  .Navbar-container ul {
    display: none;
  }

  .Navbar-container ul li {
    margin-left: -20px;
    padding-bottom: 15px;
    margin: 0 auto;
    width: 100%;
    padding-right: 0 !important;
  }
  .Navbar-container ul li:hover {
    color: #00b4d8;
  }
  .Navbar-container ul li a {
    border-bottom: 1px solid #3a3a3a;
    padding-bottom: 10px;
    display: inline-block;
    width: 100%;
  }
  .Navbar-container ul li a:hover {
    color: teal;
    border-bottom: 1px solid #3a3a3a;
  }
  .Navbar-container .active {
    border-bottom: 1px solid #3a3a3a;
    color: gray;
  }
  .Navbar-container ul li:last-child a {
    border-bottom: none;
    padding-bottom: 0;
  }
  .Navbar-container ul li:last-child {
    padding-bottom: 5px;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
  }

  .mobile-menu img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    cursor: pointer;
  }

  .mobile-menu ul {
    flex-direction: column;
    position: absolute;
    background: #282c34;
    width: calc(100% - 70px);
    text-align: center;
    top: 55px;
    padding: 20px;
    font-family: Verdana, Geneva, sans-serif;
    text-transform: uppercase;
    padding-bottom: 15px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    padding-top: 15px;
  }
  .menu-trianlge {
    width: 0 !important;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #282c34;
    margin: -32px 0 15px 0 !important;
    padding-right: 0 !important;
    padding-bottom: 10px !important;
    padding-top: 0 !important;
    margin-left: calc(100% - 10px) !important;
  }
}
